<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ base :: head(title=~{::title}) }">
    <title>Example Basic</title>
</head>
<body th:with="route='home'" class="bg-surface text-on-surface w-dvw h-dvh grid place-content-center">
    <nav class="flex">
        <a id="nav-home" th:navigate="path=@{/},target='main'" th:classappend="${route == 'home'} ? 'active' : ''">
            <i>home</i>
            <div>Home</div>
        </a>
        <a id="nav-starwars" th:navigate="path=@{/starwars},target='main'" th:classappend="${route == 'starwars'} ? 'active' : ''">
            <i>favorite</i>
            <div>Starwars</div>
        </a>
    </nav>
    <main class="p-8 rounded-2xl border min-w-sm" th:query="local = ~{ graphql :: IndexQuery('Peter') }">
        <h1 th:text="#{hello('name', 'World')}"></h1>
        <h2 th:text="${local.data.hello}"></h2>
    </main>
</body>
</html>
