<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ base :: head(title=~{::title}) }">
    <title>Example Basic</title>
</head>
<body class="w-dvw h-dvh grid place-content-center" th:with="route='root'">
    <nav class="absolute w-dvw p-2 flex justify-center">
        <ol class="flex gap-2">
            <li>
                <a id="nav-index" th:navigate="path=@{/},target='main',transition=true"
                   class="hover:text-primary transition-all"
                   th:classappend="${route == 'root'} ? 'underline' : ''"
                >Root</a>
            </li>
            <li>
                <a id="nav-home" th:navigate="path=@{/home},target='main',transition=true"
                   class="hover:text-primary transition-all"
                   th:classappend="${route == 'home'} ? 'underline' : ''"
                >Home</a>
            </li>
        </ol>
    </nav>
    <main class="p-8 rounded-2xl border min-w-sm h-32">
        <h1 class="text-3xl">Root</h1>
        <h2 class="text-2xl" th:text="#{hello('name', 'World')}"></h2>
    </main>
</body>
</html>
